:root {
  --red: #F05454;
  --blue: #6A7EFC;
  --black: #121212;
  --white: #F5F5F5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}

.header {
  display: flex;
  align-items: center;
  padding-left: 30px;
  background-color: var(--red);
  height: 100px;
}

.heading {
  color: var(--black);
}

.heading:hover {
  color: var(--blue);
}

.githubLogo {
  width: 50px;
}

.githubLogo:hover {
  /* become blue when hovering github logo */
  filter: invert(42%) sepia(44%) saturate(827%) hue-rotate(195deg) brightness(113%) contrast(98%);
}